.hero {

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__dash {
    display: none;
  }

  &__top {
    height: 458px;
    background: var(--main-color);
    display: flex;
    align-items: end;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  &__img {
    background: url("../img/MANY\ FACTORY.png") no-repeat bottom / contain;
    height: 170px;
    width: 100%;
    position: absolute;
    bottom: -5px;
  }

  &__img1 {
    background: url("../img/cube.png") no-repeat top / contain;
    width: 175px;
    height: 200px;
    position: absolute;
    top: -80px;
    left: 10%;
  }

  &__img2 {
    background: url("../img/sphere.png") no-repeat top / contain;
    width: 330px;
    height: 330px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__img3 {
    background: url("../img/RoundCube.png") no-repeat top / contain;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -80px;
    left: 90%;
    transform: translateX(-50%);
  }

  &__bottom {
    margin-top: 90px;
  }

  &__text {
    font-size: 31px;
    text-align: center;

    & + .hero__text {
        margin-top: 30px;
    }
  }
}
