.monitoring {
  margin-top: 150px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  &__item {
    border: 1.5px solid var(--main-color);
    padding: 20px 40px;

    h3 {
      font-size: 30px;
      color: var(--main-color);
      font-weight: 500;
      text-align: center;
      margin-bottom: 50px;
    }

    ul {
      font-size: 20px;
    }
  }

  &__full {
    margin-top: 70px;
    display: flex;
    gap: 15px;
    padding-left: max(15px, calc((100% - 1176px) / 2));

    &-left {
        display: grid;
        gap: 60px;
        flex-shrink: 0;
        max-width: 700px;

        p {
            font-size: 30px;
        }
    }

    &-right {
        width: calc(100% - 670px);

        &::after {
            content: '';
            background: url('../img/monitoring-A.png') no-repeat left / cover;
            height: 100%;
            width: 100%;
            display: block;
        }
    }
  }
}
