.slider {
    width: 100%;
    margin: 170px 0;
    display: flex;
    justify-content: space-between;

    span {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
    }
}